// FRONT PAGE

//  Front Page Structure
// ---------------------
//  [home-row-main]
//      [c2a-main-slider]  [main-aside]
//  [/home-row-main]
//
//  [home-row-mid]
//      [contests]  []  [ad-ban]
//  [/home-row-mid]
//
//  [home-row-social]
//      [kaff-news]  [fb]
//  [/home-row-social]
//


//override default page pad/marg that don't work on "home"
.home .site-inner,
.home .site-inner .content {
  padding: 0;
  // @include grid-media($gx-grid-md){
  //   padding: 0;
  //   //margin-left: 0;
  // }
  // @include grid-media($gx-grid-sm){
  //   padding: 0;
  //   //margin-left: 0;
  // }
}

//----- START MAIN ROW ----

.home-row-main {

  @include grid-container;
  @include grid-collapse;

  padding: 20px;//30px 0;
  background:
    //linear-gradient(to top right, transparentize($color-black, .8), transparentize($color-black, 1) 25%),
    //linear-gradient(to bottom left, transparentize($color-white, .1), transparentize($color-white, 1) 25%),
    //linear-gradient(transparentize($blue-dk, .5), transparentize($blue, .3)),
    linear-gradient(transparentize($gray-dk, .5), transparentize($blue-dkr, .3)),
    //url('images/bg-american-flag.jpg'),
    url('images/bg-guitar-grunge.jpg'),
    $blue-dk;
    //$color-alto;
  background-size: cover;
  background-position: middle center;

  @include grid-media($gx-grid-sm){
    background:
      linear-gradient(transparentize($blue-dkst, .5), transparentize($blue-dk, .3)),
      //url('images/bg-guitar-hat-boots.jpg'),
      $color-black;
  }

}

//---- MAIN SLIDER Call 2 Action ----

.main-slider-wrap {
  @include grid-column(8);

  margin-top: 20px;
  //padding: 50px;//20px;
  //background: $neutral-tan;
  //background: transparentize($blue-dkr, .2);

  @include grid-media($gx-grid-md) {
    @include grid-column(12);
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
  }

  //@include grid-media($gx-grid-sm) {
    //@include grid-column(12);
    //@include grid-collapse;
    //margin: 0 5px 0;
    //text-align: center;
  //}

}

.c2a-main-slider {

  box-shadow: 0 0 15px transparentize($color-black, .3);
  max-width: 1000px;
  margin: auto;

}


//---- STREAM and STUDIO SECTION ----
.main-aside {
    @include grid-column(4);
    @include grid-container;

    text-align: center;
    //background: linear-gradient(to top left, $color-dusty-gray, transparentize($color-dusty-gray, 1)), $neutral-tan;
    //background: linear-gradient(to bottom right, transparentize($blue, .5), transparentize($blue, 1));
    padding: 20px;
    //background: $neutral-tan;
    //background: transparentize($blue-dkst, .1);

    @include grid-media($gx-grid-md) {
      @include grid-column(10);
      @include grid-push(1);
      margin-top: 30px;
      margin-bottom: 30px;
      //width: 100%;
    }

}
.stream-studio-wrap {

  @include grid-container;
  @include grid-collapse;

  //---- STREAM SECTION
  .stream-sect {
    @include grid-column(12);

    .listen-live {
      i {
        color: $bright-red;
        margin-left: 5px;
      }

      &:hover {
        //color: $bright-red;
        //background: linear-gradient(to left, lighten($listen-live-color,10%), transparentize($listen-live-color, 1));
        background: $listen-live-color-hover;
        text-shadow: 1px 1px 1px transparentize($color-black, .5);
      }

      color: $color-white;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;
      font-style: italic;
      padding: 3px 5px 3px 10px;
      background: linear-gradient(to left, $listen-live-color, transparentize($listen-live-color, 1));
      display: block;
      text-align: center;

    }

    .listen-live-big {
      //this shows when no stream sponsor in box

      i {
        color: $bright-red;
      }

      &:hover {
        background: transparentize($listen-live-color-hover, .5);
        text-shadow: 1px 1px 1px transparentize($color-black, .5);
      }

      color: $color-white;
      text-decoration: none;
      text-align: center;
      //text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      font-style: italic;
      padding: 10px 0;
      display: block;
      border: 1px solid $blue-lt;
      border-radius: 5px;
      background: transparentize($blue-lt, .8);
      width: 90%;
      margin: 10px auto;

    }

    .stream-inner-wrap {
      padding: 5px;
      //background: linear-gradient($blue-dkst, $blue-dkr);
      background: linear-gradient(darken($listen-live-color, 5%), lighten($listen-live-color, 5%));
    }

    // .stream-sponsor-hdr {
    //   display: block;
    //   margin: 5px auto;
    //   min-height: 30px;
    // }
    .stream-sponsor-txt {
      font-size: 11px;
      font-weight: 600;
      font-style: italic;
      color: transparentize($color-white, .6);
      //background: $blue;
      padding: 4px;
    }

    .stream-sponsor-bizname {
      color: $color-white;
      margin-left: 5px;
      font-size: .9em;
    }

    .stream-sponsor {
      margin: 5px auto;
      text-align: center;

      @include grid-media($gx-grid-lg) {
        max-width: 80%;
      }
    }

    text-align: center;
    background: darken($listen-live-color, 5%);//$blue-dkst;
    box-shadow: 0 0 10px transparentize($color-black, .5);

    @include grid-media($gx-grid-xl){
      // margin-top: 20px;
      margin-bottom: 30px;
    }

    @include grid-media($gx-grid-lg){
      margin-top: 0;
      margin-bottom: 20px;
    }

    @include grid-media($gx-grid-md){
      @include grid-column(6);
      margin-top: 0;
      margin-bottom: 0;
    }

    @include grid-media($gx-grid-sm){
      @include grid-column(12);
      margin-top: 0;
      margin-bottom: 0;
    }



  }//.stream-sect


  //---- STUDIO SECTION

  .studio-sect {

    @include grid-column(12);

    .song-request {
      i {
        color: $bright-red;
        margin: 0 10px;
      }

      &:hover {
        //color: $bright-red;
        background: $song-request-color-hover;
        text-shadow: 1px 1px 1px transparentize($color-black, .5);
      }

      color: $color-white;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1em;
      font-style: italic;
      padding: 3px 5px 3px 10px;
      background: linear-gradient(to left, $song-request-color, transparentize($song-request-color, 1));
      text-align: center;
      display: block;

    }

    .studio-inner-wrap {
      padding: 5px;
      background: linear-gradient(darken($song-request-color, 5%), lighten($song-request-color, 5%));
    }

    .cur-show-hdr {
      display: block;
      margin: 5px auto;
      min-height: 30px;
    }

    .in-the-studio {
      font-size: 11px;
      font-weight: 600;
      font-style: italic;
      color: $color-white;
      background: $red;
      padding: 4px;
    }

    .show-name {
      color: $color-dusty-gray;
      margin-left: 5px;
      font-size: .9em;
    }

    .studio-sponsor {
      margin: 5px auto;
      text-align: center;

      @include grid-media($gx-grid-lg) {
        max-width: 80%;
      }
    }

    text-align: center;
    background: $gray-dkr;
    box-shadow: 0 0 10px transparentize($color-black, .5);

    @include grid-media($gx-grid-md) {
      @include grid-column(6);
    }

    @include grid-media($gx-grid-sm) {
      @include grid-column(12);
    }

  
  }//.studio-sect

}//.stream-studio-wrap


// ---END MAIN ROW-----------------



// ---- MID ROWS -----

.home-row-mid-slider {

  @include grid-container;
  @include grid-collapse;

  .home-mid-slider {
    @include grid-column(10);
    @include grid-push(1);

    padding: 50px 0;

  }

  text-align: center;
  background: transparentize($color-black, .1);

}


.home-row-3col {
    @include grid-container;
  @include grid-collapse;

  padding: 4% 2% 4%;
  background: $blue-dkr;
}


.home-thirds-col {
  
  @include grid-column(4);

  @include grid-media($gx-grid-md){
    @include grid-column(6);
    margin-top: 20px;
  }

  @include grid-media($gx-grid-sm){
    @include grid-column(12);
    
  }

  height: 320px;
  border: 1px solid transparentize($color-white, 1);
  color: $color-white;
  background: transparentize($color-black, .9);
  padding: 10px;
  margin-top: 30px;
}


//---- BANNER AD ----
.ad-ban {
  .g {
    //adrotate group
    text-align: center;
    margin: auto;
    vertical-align: middle;
  }
  text-align: center;
}


//---- FACEBOOK ----
.fb-box {
  //overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}


//---- NEWS ----
.kaff-news-feed {

  .news-hdr-wrap{
    width: 100%;
    border-bottom: 1px solid $blue;
  }

  .news-hdr {

    &:hover{
      text-decoration: underline;
    }
    color: $color-white;
    text-align: left;
    text-decoration: none;
    margin-left: 15px;
  }

  .kaff-news {
    padding: 10px;
    text-align: left;
    overflow: hidden;
  }

  .kaff-news-feed-listing {

    ul{

      li{

        a {
          &:hover{
            background: transparentize($blue-lt, .8);
            color: $color-white;
          }
          text-decoration: none;
          color: $blue-ltr;
          font-size: 12px;
          line-height: normal;
          display: block;
          padding: 5px;
        }

        line-height: normal;
        border-bottom: 1px solid transparentize($blue, .5);
        padding: 0;
        margin: 0 0 7px 0;

      }

      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }

  overflow: hidden;
  background: $blue-dk;

}//.kaff-news-feed


