// MICKI'S FREE RIDE & CONTACT MICKI


.micki-free {
	.site-inner {
		.content {
			.entry {
				@include grid-media($gx-grid-sm){
					padding: 0;
				}
			}
		}
		padding-top: 10px;
	}
}


// .mickis-free-ride .in-cnt-wrp,
// .mickis-free-ride .pg-content,
// .contact-micki-free .in-cnt-wrp,
// .contact-micki-free .pg-content,
// .win-micki-free-latest-album .in-cnt-wrp,
// .win-micki-free-latest-album .pg-content,
// .win-micki-free-latest-album .entry-content{
//     background: #000;
//     color: #fff;
// }
.micki-free-forms{
    color:#ff0000;
    width: 95%;
}
.micki-free-forms_wrapper.gform_validation_error .micki-free-forms label{
    color:#ff0000;
}
.micki-free-forms_wrapper.gform_validation_error .micki-free-forms li.gfield_error{
    border:0;
    background-color:rgba(255,223,224,.15);
}
.micki-free-forms .validation_message{
    color:#fff000;
}


// .mf-cur-vid,
// .mf-clips-wrap,
// #youtube-channel-pagination {
// 	@include grid-container;
// }

// 	@include grid-media($gx-grid-xl){
// 		.col-* { @include grid-column(3); }
// 	}
// 	@include grid-media($gx-grid-lg){
// 		.col-* { @include grid-column(4); }
// 	}
// 	@include grid-media($gx-grid-md){
// 		.col-* { @include grid-column(6); }
// 	}
// 	@include grid-media($gx-grid-sm){
// 		.col-* { @include grid-column(12); }
// 	}



