/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background: linear-gradient($neutral-tan, $neutral-tan-lt 100%);
	clear: both;
	padding: 40px 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {

	@include grid-column(4);

	@include grid-media($gx-grid-sm){
		@include grid-column(12);
	}

	padding-left: 20px;
}

.footer-widgets-1 {
	//margin-right: 60px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}


.footer-identity {
	// 3rd widget with copyright info

	img.ftr-logo {
		width:150px;
		height:auto;
	}

	.copyright {
		color: $blue-lt;
		font-size: 10px;
		font-weight: bold;
		padding: 0;
		margin: 2px auto;
	}

	.ftr-link-sm {
		padding: 0;
		margin: 2px auto;
		font-weight: bold;
		font-size: 11px;
		text-decoration: none;
		color: $gray-lt;

		&:hover {
			color: $blue-lt;
		}
	}

	p{
		line-height: normal;
		padding: 2px 0;
		margin: 2px auto;
	}

	padding: 20px 0;
	margin:20px auto;
	text-align: center;
	min-height: 200px;
	border-left: 2px solid transparentize($neutral-tan-dk, .5);


	// hide border-left on sm and xs
	//@include grid-media($gx-grid-xxs){
	//	border-left: 0;
	//}

	@include grid-media($gx-grid-xs){
		border-left: 0;
	}

}