// KAFF NEWS MENU

// Site Navigation

// SECONDARY NAV STRUCTURE
// -------------------------
// <nav [.nav-secondary]>
//		<div [.wrap]>
//			_________TOP MENU_________
//			<ul [#menu-primary] [.menu] [.genesis-nav-menu] [.menu-primary]>
//				<li [.menu-item] [.menu-item-type-post_type] [.menu-item-object-page] [.current-menu-ancestor] [.current-menu-parent] [.current_page_parent] [.current_page_ancestor] [.menu-item-has-children] [.menu-item-##]>
//					<a><span>TEXT</span></a>
//					<button [.sub-menu-toggle]></button>
//					________SUB MENU________
//					<ul [.sub-menu]>
//						<li [.menu-item] [.menu-item-type-post_type] [.menu-item-object-page] [.menu-item-##]>
//							<a><span>TEXT</span></a>
//						</li>
//					</ul>
//				</li>
//			</ul>
//		<div>
//</nav>


// CHANGE MENU DEFAULTS FOR KAFF NEWS


$news-menu-bg-color: $neutral-tan;
$news-menu-bg-color-hover: $neutral-tan;
$news-menu-text-color: $gunmetal;
$news-menu-text-color-hover: $blue;
$news-menu-bg-color-underline: $neutral-tan-dk;
$news-menu-border-color: $news-menu-bg-color;


nav.nav-secondary {

	//keep above news content column
	//@include span-columns(8);

	//@include media($md-screen){
		//@include span-columns(12);
	//}

	//@include row(table);
	//@include columns(6);

	.genesis-nav-menu {

		.news-sections-hdr{

			@extend %bree;
			//position: relative;
			display: inline-block;
			float:left;
			border-right: 2px solid darken($neutral-tan, 10%);
			font-size: 1.2rem;
			text-align: center;
			width: 120px;
			height: 100%;
			line-height: 65px;
			vertical-align: middle;
			color: $gunmetal;

			@include media($sm-screen){
				@include hidden();
			}

		}

		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1;
		//background: $news-menu-bg-color;
		//background: linear-gradient(to bottom, $news-menu-bg-color 92%, darken($news-menu-bg-color, 7%) 93%);

	}

	.genesis-nav-menu .menu-item {

		display: inline-block;
		text-align: center;
		margin: auto;

		// @include media($sm-screen){
		// 	@include span-columns(1 of 5);
		// 	@include omega();
		// }
		// @include media($xs-screen){
		// 	@include span-columns(1 of 5);
		// 	@include omega();
		// }
		
	}

	.genesis-nav-menu a {
		color: $news-menu-text-color;
		text-decoration: none;
		display: block;
		padding: 24px 20px;
		position: relative;
		font-weight: 600;
		font-size: 1em;
		@extend %montserrat;

		@include media($sm-screen){
			padding: 24px 12px;
			font-size: .9em;
			text-align: center;
			margin:auto;
		}
		@include media($xs-screen){
			padding: 24px 7px;
			font-size: .7em;
			text-align: center;
			margin:auto;
		}

	}


	.genesis-nav-menu > .current-menu-item > a {
		//background: transparentize($news-menu-bg-color-hover, .2);
		//@include linear-gradient(45deg, rgba(0,0,0,.05) 0%, rgba(0,0,0,0) 100%);
		@include linear-gradient(to bottom, $news-menu-bg-color 90%, $news-menu-bg-color-underline 91%);
	}

	.genesis-nav-menu a:hover,
	.genesis-nav-menu a:focus,
	//.genesis-nav-menu .current-menu-item > a,
	.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
		color: $news-menu-text-color-hover;
		//text-decoration: underline;
		//background: $news-menu-bg-color-hover;
		//background: linear-gradient(to bottom, $news-menu-bg-color-hover 92%, darken($news-menu-bg-color-hover, 7%) 93%);
		//@include linear-gradient(45deg, rgba(0,0,0,.07) 0%, rgba(0,0,0,0) 100%);
		//@include radial-gradient(transparentize($news-menu-bg-color-hover, .2), transparentize($news-menu-bg-color-hover, 1));
		background: $news-menu-bg-color-hover;
	}


	.genesis-nav-menu .sub-menu {
		border-top: 1px solid $news-menu-border-color;
		left: -9999px;
		opacity: 0;
		position: absolute;
		transition: opacity .2s ease-in-out;
		width: 200px;
		z-index: 99;
	}

	.genesis-nav-menu .sub-menu a {

		&:hover{
			background: $news-menu-bg-color-hover;
		}

		background-color: $news-menu-bg-color;
		//border: 1px solid #eee;
		border-top: 0;
		font-size: 14px;
		font-size: 1.4rem;
		padding: 20px;
		position: relative;
		width: 200px;
		word-wrap: break-word;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: -55px 0 0 199px;
	}

	.genesis-nav-menu .menu-item:hover {
		position: static;
	}

	.genesis-nav-menu .menu-item:hover > .sub-menu {
		left: auto;
		opacity: 1;
	}

	.genesis-nav-menu > .first > a {
		padding-left: 0;
	}

	.genesis-nav-menu > .last > a {
		padding-right: 0;
	}

	.genesis-nav-menu > .right {
		color: #fff;
		float: right;
		list-style-type: none;
		padding: 30px 0;
	}

	.genesis-nav-menu > .right > a {
		display: inline;
		padding: 0;
	}

	.genesis-nav-menu > .rss > a {
		margin-left: 48px;
	}

	.genesis-nav-menu > .search {
		padding: 10px 0 0;
	}


	margin: 0 auto;
	@include linear-gradient(to bottom, $news-menu-bg-color, darken($news-menu-bg-color, 8%) 100%);

}

