// Pagination 

.pagination {

    span,
    a {
        display: block;
        float: left;
        margin: 3px 3px 3px 0;
        padding: 10px 13px;
        text-decoration: none;
        width: auto;
        color: $color-white;
        background: $gray;
    }

    a:hover {
        color: $color-white;
        background: $red;
    }

    .current {
        background: $blue;
        color: $color-white;
    }


    padding: 20px 0;
    position: relative;
    font-size: 11px;
    line-height: 13px;


}
